<!--<p>task-form works!</p>-->

<!-- src/app/components/task-form/task-form.component.html 
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Title:</label>
    <input formControlName="title" required />
  </div>
  <div>
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
  </div>
  <div>
    <label>Completed:</label>
    <input type="checkbox" formControlName="completed" />
  </div>
  <button type="submit">Save Task</button>
</form>
-->
<form #taskForm="" (ngSubmit)="onSubmit(taskForm)">
  <div>
    <label>Title:</label>
    <input name="title" ngModel required />
  </div>
  <div>
    <label>Description:</label>
    <textarea name="description" ngModel></textarea>
  </div>
  <div>
    <label>Completed:</label>
    <input type="checkbox" name="completed" ngModel />
  </div>
  <button type="submit">Save Task</button>
</form>
